@media all and (max-width:360px) {
    .container {
        width: auto;
    }
    nav img {
        width: 70px;
    }
    nav {
        line-height: 40px;
        height: 40px;
    }
    nav .right{
        display: none;
    }
    header {
        height: 350px;
    }
    header h1 {
        font-size: 20px;
        padding-top: 125px;
    }
    header h2 {
        font-size: 13px;
        margin-top: 17px;
    }
    header div img {
        width: 25px;
    }
    .who div {
        display: block;
    }
    .who {
        padding: 0;
    }
    .who span {
        display: none;
    }
    .who p {
        text-align: left;
        width: 366px;
        font-size: 13px;
    }
    .who p:nth-of-type(2) {
        display: none;
    }
    .who img {
        padding: none;
    }
    .who a {
        margin-bottom: 47px;
        font-size: 13px;
    }
    #iphone {
        display: inline-block;
        float: none;
    }
    div.video {
        height: 262px;
    }
    .video img {
        padding-top: 69px;
    }
    .section1 {
        display: none;
    }
    .section2 li {
        display: block;
    }
    .emblem {
        display: inline;
        margin-right: 0px;
    }
    .service li div + div {
        width: 242px;
    }
    .service li p {
        width: 274px;
    }
    .service {
        padding-bottom: 47px;
    }
    .team li:nth-of-type(2) {
        display: none;
    }
    .team li:nth-of-type(3) {
        display: none;
    }
    .team li:nth-of-type(4) {
        display: none;
    }
    .section2 li {
        margin-top: 39px;
    }
    .job h4 {
        font-size: 13px;
        margin-right: 94px;
    }
    .job a {
        float: right;
        font-size: 13px;
        display: block;
        position: relative;
        bottom: 33px;
    }
    .works li:nth-of-type(1) {
        display:none;
    }
    .works li:nth-of-type(2) {
        display:none;
    }
    .works li:nth-of-type(4) {
        display:none;
    }
    .works li:nth-of-type(5) {
        display:none;
    }
    .works li {
        width: 300px;
    }
    .works li img {
        width: 300px;
    }
    .test {
        background-size: cover;
    }
    .test blockquote {
        font-size: 12px;
        height: 85px;
        width: 300px;
        display: block;
        position: relative;
        bottom: 91px;
        right: 77px;
    }
    #testpart {
        display: none;
    }
    .test h5 {
        display: block;
        position: relative;
        top: 285px;
    }
    .blog1  {
        display: block; 
    }
    .blog2 {
        display: block;
    }
    .blog1 li {
        width: 161px;
        height: 199px;
    }
    .blog1 a {
        height: 30px;
    }
    .blog2 li {
        width: 161px;
        height: 199px;
    }
    .blog2 a {
        height: 30px;
    }
    .blog1 h6 {
        position: relative;
        bottom: 13px;
    }
    .blog1 h6:nth-of-type(1) {
        font-size: 10.93px;
    }
    .blog1 h6:nth-of-type(2) {
        font-size: 10.85px;
    }
    .blog2 h6 {
        font-size: 10.79px;
        position: relative;
        bottom: 13px;
    }
    .blog2 li {
        width: 150px;
    }
    .blog1 li > img, .blog2 li > img {
        width: 150px;
    }
    .projects {
        display: none;
    }
    .apps span {
        display: none;
    }
    .apps li {
        height: 17px;
        width: 137px;
        padding-right: 26px;
    }
    .apps img {
        width: 137px;
        padding-left: 31px;
    }
    .news h4 {
        font-size: 12px;
        padding-right: 150px;
        display: block;
        position: relative;
        top: 30px;
        margin-bottom: 10px;
    }
    .news input[type="text"] {
        padding: 0px;
        width: 110px;
        height: 25px;
        font-size: 12px;
    }
    .news form {
        margin-left: 211px;
    }
    .email {
        width: 30px;
        height: 25px;
    }
    .contact input {
        width: 301px;
        margin-left: 30px;
    }
    .contact textarea {
        width: 301px;
        margin-left: 29px;
        height: 83px;
    }
    .contact button {
        margin-left: 1px;
    }
    .contact label {
        width: 370px;
    }
    footer div {
        font-size: 13px;
        width: 201px;
        padding-top: 13px;
        padding-right: 0px;
        padding-left: 60px;
    }
    footer ul {
        width: 317px;
        padding-left: 22px;
    }
}