@media all and (max-width:360px) {
    
    nav img {
        width: 70px;
    }
    nav {
        line-height: 40px;
        height: 40px;
    }
    nav .right{
        display: none;
    }
    header {
        height: 350px;
    }
    header h1 {
        font-size: 20px;
        padding-top: 125px;
    }
    header h2 {
        font-size: 13px;
        margin-top: 17px;
    }
    header div img {
        width: 25px;
    }
    .who div {
        display: block;
    }
    .who {
        padding: 0;
    }
    .who span {
        display: none;
    }
    .who p {
        text-align: center;
        width: 299px;
    }
    .who p:nth-of-type(2) {
        display: none;
    }
    .who img {
        padding: none;
    }
    .iphone {
        display: flex;
        padding-left: none;
    }
    div.video {
        height: 262px;
    }
    .video img {
        padding-top: 69px;
    }
    .section1 {
        display: none;
    }
    
