/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav {
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    position: relative;
    z-index: 1;
}
nav img {
    vertical-align: middle;
}
nav a {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px;
}
nav a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.right {
    float: right;
}

header {
    text-align: center;
    height: 700px;
    background-color: #9abd67;
    background-image: url("Images/Skyline.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}
header h1 {
    padding-top: 230px;
    color: #f7f7f7;
    font-size: 48px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}
header h2 {
    margin-top: 30px;
    font-size: 24px;
    font-family: "DroidSerif";
    font-style: italic;
    color: #f7f7f7;
}
header a {
    margin-top: 132px;
    display: block;
}
h3 {
    font-size: 30px;
    font-family: "Source Sans Pro";
    font-weight: normal;
    color: #454545;
    background-color: #f7f7f7;
    display: inline-block;
    padding-bottom: 15px;
}
.who {
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 18px;
    color: #454545;
    background-color: #f7f7f7;
    display: block;
    padding: 90px 180px;
}
.who p {
    width: 769px;
    height: 200;
    display: block;
    line-height: 20px;
    padding-top: 15px;
    margin: left;
}
.who img {
    padding-right: 25px;
    display: inline-block;
}
.who div {
    display: inline-block;
    vertical-align: top;
}
.who a {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
    display: inline-block;
    margin-top: 46px;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-bottom: 3px;
    padding-right: 7.5px;
}
.service {
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 18px;
    color: #454545;
    background-color: #f7f7f7;
    display: block;
    text-align: center;
}
div.video {
    background-image: url("Images/videobackground.png");
    background-position: center center;
    height: 522px;
}
div.map {
    background-image: url("Images/map.png");
    background-position: center center;
    height: 522px;
}
.iphone {
    display: inline-block;
    padding-left: 142px;
}
.video img {
    margin:auto;
    padding-top: 192px;
    display: block;
}
/*.service span {
    color: #acd373;
    font-weight: bold;
    font-size: 20px;
}
.service h3 span {
    font-size: 30px;
    font-weight: normal;
}
.service h3 {
    padding-top: 99px;
}
.service a {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
}
.service li {
    display: inline-block;
    width: 360px;
    height: 150px;
}
.service li div {
    display: inline-block;
    width: 275px;
    height: 89px;
}
.service p {
    display: inline-block;
    width: 280px;
    height: 56;
    text-align: left;
    padding-top: 20px;
    vertical-align: top;
}*/
.service {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.service h3 {
  text-align: center;
  font-size: 30px;
  color: #454545;
  font-family: "Source Sans Pro";
}
.service h3 span {
  color: #acd373;
}
.service img {
    padding-top: 24px;
}
.service .container > p {
  font-size: 18px;
  color: #454545;
  text-align: center;
  margin-top: 20px;
}
.service .icon {
  width: 75px;
  height: 78px;
  margin-right: 15px;
  background-position: top center;
  background-repeat: no-repeat;
}
.service li {
  margin-top: 84px;
  text-align: left;
}
.service li,
.service li div {
  display: inline-block;
  vertical-align: top;
}
.service li div + div {
  width: 280px;
}
.service li h4 {
  font-size: 20px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  color: #acd373;
  text-transform: uppercase;
}
.service li p {
  font-size: 18px;
  color: #444444;
  font-family: "Source Sans Pro";
  margin-top: 18px;
  line-height: 1.25em;
}
.service .emblem {
  width: 75px;
  height: 78px;
  margin-right: 15px;
  background-position: top center;
  background-repeat: no-repeat;
}
.service li:nth-of-type(1) .emblem {
  background-image: url('Images/paintbrushicon.png');
}
.service li:nth-of-type(2) .emblem {
  background-image: url('Images/phonicon.png');
}
.service li:nth-of-type(3) .emblem {
  background-image: url('Images/monitoricon.png');
}
.service li:nth-of-type(4) .emblem {
  background-image: url('Images/marketingicon.png');
}
.service li:nth-of-type(5) .emblem {
  background-image: url('Images/gameicon.png');
}
.service li:nth-of-type(6) .emblem {
  background-image: url('Images/hearticon.png');
}
.team {
    text-align: center;
    display: block;
    background-color: #acd373;
    padding-bottom: 105px;  
}
/*.team li {
    display: inline-block;
}
.team ul {
    display: inline-block;
    background-color: #f7f7f7;
    width: 275px;
    height: 250px;
}
.team img {
    display: block;
    border-radius: 50%;
    margin-top: -73px;
}*/
.team h3 {
    background-color: #acd373;
    font-family: "Source Sans Pro";
    font-weight: normal;
    color: #f7f7f7;
    padding-top: 102px;
}
.team h4 {
    font-size: 18px;
    font-family: "DroidSerif";
    color: #f7f7f7;
    font-weight: normal;
    padding-bottom: 20px;
}
.team li {
    margin: 70px 13px 0 13px;
    background: #f7f7f7;
    text-align: center;
    width: 270px;
    height: 247px;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    padding-top: 45px;
}
.team li > img {
    margin-top: -70px;
    border-radius: 50%;
    border: 5px solid #acd373;
}
.team li h5 {
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #acd373;
    margin-top: 15px;
}
.team li em {
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 16px;
    color: #787878;
    margin-top: 9px;
    display: block;
}
.team li div {
    height: 70px;
    background: #ebebeb;
    line-height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.team li div img {
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 4px;
    opacity: 0.65;
}
.team li:first-of-type {
    margin-left: 0;
}
.team li:last-of-type {
    margin-right: 0;
}
.team ul {
    text-align: center;
}
.job {
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 18px;
    color: #f7f7f7;
    background-color: #9abd67;
    display: block;
    text-align: center;
    padding: 35px;
}
.job a {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-bottom: 5px;
    padding-right: 7.5px;
}
.job h4 {
    display: inline-block;
    padding-right: 39px;
}
.works {
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 18px;
    color: #f7f7f7;
    background-color: #f7f7f7;
    display: block;
    text-align: center;
    
}
.works h3 {
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: normal;
    color: #454545;
    padding-top: 100px;
}
.works span {
    color: #acd373;
}
.works ul {
    text-align: center;
}
.works li {
    display: inline-block;
    background-color: #ebebeb;
    margin: 6px;
    vertical-align: top;
}
.works em {
    display: inline-block;
    color: #818181;
    font-style: italic;
    font-family: "Droid Serif Italic";
    font-size: 16px;
}
.works h5 {
    display: block;
    color: #454545;
    font-family: "Source Sans Pro Bold";
    font-style: bold;
    font-size: 18px;
    padding-top: 25px;
}
.works h4 {
    color: #454545;
    padding-bottom: 15px;
    display: block;
}
a.greenlink {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-bottom: 3px;
    padding-right: 7.5px;
    margin-top: 81px;
    margin-bottom: 81px;
}
.workslink {
    background-color: #f7f7f7;
    text-align: center;
}
.works div > img {
    padding-bottom: 69px;
}
.workpix div {
    height: 100px;
}
.apps {
    display: block;
    background-color: #ebebeb;
}
.apps li {
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*test {
    background-image: url("Images/testimonialbackground.png");
    display: block;
}
.test img {
    border-radius: 50%;
}
.test em {
    color: #f7f7f7;
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    font-size: 18px;
    display: inline-block;
}
.test h5 {
    color: #f7f7f7;
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    font-size: 30px;
    display: inline-block
}
.test div {
    
    display: inline-block;
}
.test a {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-bottom: 3px;
    padding-right: 7.5px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.test p {
    font-family: "Droid Serif Regular";
    color: #dedada;    
}
.test h6 {
    font-family: "Source Sans Pro Bold";
    color: #acd373;
    font-style: bold;
}*/
.test {
    padding-top: 120px;
    padding-bottom: 2px;
    color: #f7f7f7;
    font-family: "Source Sans Pro"; 
    background: url("Images/testimonialbackground.png") no-repeat center center;
}
.test h5 {
    font-size: 30px;
    font-family: "Source Sans Pro";
    font-weight: 300;
    color: #f7f7f7;
}
.test p {
    font-size: 18px;
    margin-top: 37px;
    line-height: 1.25em;
    color: #f7f7f7;
    font-weight: 300;
}
.test li {
    display: inline-block;
    width: 370px;
    vertical-align: top;
}
.test blockquote {
    background: url("Images/blockquotes.png") no-repeat top center;
    padding-top: 26px;
    padding-left: 13px;
    padding-right: 21px;
    height: 118px;
    line-height: 1.25em;
    margin-bottom: 17px;
    font-family: "Droid Serif";
    color: #f7f7f7;
    font-weight: 200;
        
}
.test .container > * {
    display: inline-block;
    vertical-align: top;
}
.test .container > div {
        width: 298px;
}
.test li img {
    border-radius: 50%;
    display: inline-block;
}
.test li div {
    display: inline-block;
    margin-left: 28px;
    vertical-align: top;
}
.test h6 {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #acd373;
    padding-top: 27px;
    padding-bottom: 17px;
}
.test li a{
    font-family: "Droid Serif";
    font-style: italic;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    font-weight: 200;
}
.test ul {
    margin-left: 90px;
}
.test li:first-of-type {
    margin-right: 31px;
}
.test a.greenlink {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-bottom: 3px;
    padding-right: 7.5px;
    margin-top: 81px;
}
.dots {
    margin-top: -20px;
    display: block;
}
.blog {
    background-color: #f7f7f7;
    display: block;
    text-align: center;
}
.blog h3 {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-size: 30px;
    color: #454545;
    margin-top: 113px;
    margin-bottom: 20px;
    font-weight: 400;
}
.blog h4 {
    margin-bottom: 20px;
    font-weight: 200;
    font-family: "Droid Serif";
    font-style: normal;
    color: #454545;
}
.blog li {
    display: inline-block;
    background-color: #ebebeb;
    margin: 6px;
    width: 274px;
    height: 336px;
    vertical-align: top;
    margin-bottom: 100px;
    position: relative;
}
.blog ul {
    display: inline-block;
}
.blog a {
    color: #f7f7f7;
    font-family: "Droid Serif";
    font-style: italic;
    font-size: 14px;
    text-decoration: none;
    background-color: #acd373;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.blog div {
    position: relative;
}
.blog h6 {
    margin-top: 23px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    color: #555555
}
.blogsep {
    margin-bottom: 60px;
}
.icon {
    background-color: #acd373;
    border-radius: 50%;
    border: 5px solid #ebebeb;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-top: -70px;
}
.icon img {
    margin-top: 9px;
}
.news {
    background-color: #acd373;
    font-family: "Source Sans Pro";
    font-style: normal;
    color: #f7f7f7; 
    text-align: center;
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 18px;
}
.news form {
    display: inline-block;
    margin-left: 45px;
}
.map img {
    z-index: 1;
    margin:auto;
    padding-top: 192px;
    display: block;
}
.news input::-webkit-input-placeholder {
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    font-size; 14px;
    color: #f7f7f7;
}
}
.news input::-moz-placeholder { 
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    font-size; 14px;
    color: #f7f7f7;
}
.news input:-ms-input-placeholder { 
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    font-size; 14px;
    color: #f7f7f7;
}
.news input:-moz-placeholder { 
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    font-size; 14px;
    color: #f7f7f7;
}
.news input[type="text"] {
    background-color: #acd373;
    border: 1px solid #f7f7f7;
    height: 40px;
    width: 180px;
    text-align: center;
}
.email {
    background: #fff url(Images/emailbutton.png) no-repeat center center;
    cursor: pointer;
    border: none;
    width: 49px;
    height: 44px;
    display: inline-block;
    margin-left: -4px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.contact h3 {
    margin-top: 95px;
    margin-bottom: 18px;
    background-color: #acd373;
    color: #f7f7f7;
}
.contact {
    display: block;
    background-color: #acd373;
}
.contact div {
    display: block;
    text-align: center;
}
.contact img {
    margin-bottom: 40px;
}
.contact label {
    display: block;
    text-align: left;
    font-family: "Source Sans Pro";
    font-weight: normal;
    color: #f7f7f7;
    font-size: 18px;
    line-height: 35px;
    width: 569px;
    margin : 0 auto;
}
.contact input::-webkit-input-placeholder,
.contact textarea::-webkit-input-placeholder{
    font-family: "Droid Serif";
    font-style: italic;
    font-size; 15px;
    color: #f7f7f7;
    text-align: left
}
.contact input::-moz-placeholder,
.contact textarea::-moz-placeholder{ 
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    font-size; 15px;
    color: #f7f7f7;
}
.contact input:-ms-input-placeholder,
.contact textarea:-ms-input-placeholder{ 
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    font-size; 15px;
    color: #f7f7f7;
}
.contact input:-moz-placeholder,
.contact textarea:-moz-placeholder{ 
    font-family: "Droid Serif";
    font-style: italic;
    text-align: center;
    font-size; 15px;
    color: #f7f7f7;
}
.contact input,
.contact textarea{
    background-color: #9abd67;
    display: block;
    text-align: left;
    border-style: none;
    margin : 0 auto;
}
.field1 {
    height: 40px;
    width: 100%;
}
.field2 {
    height: 40px;
    width: 100%;
}
.field3 {
    height: 157px;
    width: 100%;
}
.send {
    width: 110px;
    height: 40px;
    font-family: "Droif Serif";
    font-style: italic;
    font-size: 18px;
    color: #f7f7f7;
    background-color: #9abd67;
    border-style: none;
    margin-top: 50px;
    margin-left: 470px;
    margin-bottom: 79px;
}
footer {
    color: #f7f7f7;
}
footer div{
    float: left;
    display: inline-block;
    padding-right: 547px;
    padding-top: 42px;
}
.footer {
    height: 100px;
    display: block;
    background-color: #9abd67;
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    font-size: 18px;
}
.footer ul {
    display: inline-block;
}
.footer li {
    display: inline-block;
    padding-top: 34px;
}
