/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
nav {
    background-color: #acd373;
    height: 106px;
    line-height: 106px;
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    position: relative;
    z-index: 1;
}
nav img {
    vertical-align: middle;
}
nav a {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 14px;
}
nav a:hover {
    text-decoration: underline;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.right {
    float: right;
}

header {
    text-align: center;
    height: 700px;
    background-color: #9abd67;
    background-image: url("img/skyline.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}
header h1 {
    padding-top: 230px;
    color: #f7f7f7;
    font-size: 48px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}
header h2 {
    margin-top: 30px;
    font-size: 24px;
    font-family: "DroidSerif";
    font-style: italic;
    color: #f7f7f7;
}
header a {
    margin-top: 132px;
    display: block;
}
h3 {
    font-size: 30px;
    font-family: "Source Sans Pro";
    font-weight: normal;
    color: #454545;
    background-color: #f7f7f7;
    display: inline-block;
    padding-bottom: 15px;
}
.who {
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 18px;
    color: #454545;
    background-color: #f7f7f7;
    display: block;
    padding: 90px 180px;
}
.who p {
    width: 769px;
    height: 200;
    display: block;
    line-height: 20px;
    padding-top: 15px;
    margin: left;
}
.who img {
    padding-right: 25px;
    display: inline-block;
}
.who div {
    display: inline-block;
    vertical-align: top;
}
.who a {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
}
.service {
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 18px;
    color: #454545;
    background-color: #f7f7f7;
    display: block;
    padding: 90px 0;
    text-align: center;
}
div.video {
    background-image: url("Images/videobackground.png");
    background-position: center center;
    height: 522px;
}
div.map {
    background-image: url("Images/map.png");
    background-position: center center;
    height: 522px;
}
.iphone {
    display: inline-block;
    padding-left: 142px;
}
.video img {
    margin:auto;
    padding-top: 192px;
    display: block;
}
.service span {
    color: #acd373;
    font-weight: bold;
    font-size: 20px;
}
.service h3 span {
    font-size: 30px;
    font-weight: normal;
}
.service h4 {
    font-family: "Droid Serif";
    font-size: 18px;
}
.service a {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
}
.service li {
    display: inline-block;
    width: 360px;
    height: 150px;
}
.service li div {
    display: inline-block;
    width: 275px;
    height: 89px;
}
.service p {
    display: inline-block;
    width: 280px;
    height: 56;
    text-align: left;
}
.service img {
    display: inline-block;
}
.team {
    text-align: center;
    display: block;
    background-color: #acd373;
    padding-bottom: 105px;  
}
/*.team li {
    display: inline-block;
}
.team ul {
    display: inline-block;
    background-color: #f7f7f7;
    width: 275px;
    height: 250px;
}
.team img {
    display: block;
    border-radius: 50%;
    margin-top: -73px;
}*/
.team h3 {
    background-color: #acd373;
    font-family: "Source Sans Pro";
    font-weight: normal;
    color: #f7f7f7;
    padding-top: 102px;
}
.team h4 {
    font-size: 18px;
    font-family: "DroidSerif";
    color: #f7f7f7;
    font-weight: normal;
    padding-bottom: 20px;
}
.team li {
    margin: 70px 13px 0 13px;
    background: #f7f7f7;
    text-align: center;
    width: 270px;
    height: 247px;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    padding-top: 45px;
}
.team li > img {
    margin-top: -70px;
    border-radius: 50%;
    border: 5px solid #acd373;
}
.team li h5 {
    font-family: "Source Sans Pro";
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #acd373;
    margin-top: 15px;
}
.team li em {
    font-family: "DroidSerif";
    font-style: italic;
    font-size: 16px;
    color: #787878;
    margin-top: 9px;
    display: block;
}
.team li div {
    height: 70px;
    background: #ebebeb;
    line-height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.team li div img {
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 4px;
    opacity: 0.65;
}
.team li:first-of-type {
    margin-left: 0;
}
.team li:last-of-type {
    margin-right: 0;
}
.team ul {
    text-align: center;
}
.job {
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 18px;
    color: #f7f7f7;
    background-color: #9abd67;
    display: block;
    text-align: center;
    padding: 35px;
}
.job a {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #f2f2f2;
    border: 1px solid #f2f2f2;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-bottom: 5px;
    padding-right: 7.5px;
}
.job h4 {
    display: inline-block;
    padding-right: 39px;
}
.works {
    font-family: "Source Sans Pro";
    font-weight: normal;
    font-size: 18px;
    color: #f7f7f7;
    background-color: #f7f7f7;
    display: block;
    text-align: center;
    padding: 100px;
}
.works h3 {
    font-family: "Source Sans Pro";
    font-size: 30px;
    font-weight: normal;
    color: #454545;
}
.works span {
    color: #acd373;
}
.works ul {
    text-align: center;
}
.works li {
    display: inline-block;
    background-color: #ebebeb;
    margin: 6px;
}
.works em {
    display: inline-block;
    color: #818181;
    font-style: italic;
    font-family: "Droid Serif Italic";
    font-size: 16px;
}
.works h5 {
    display: block;
    color: #454545;
    font-family: "Source Sans Pro Bold";
    font-style: bold;
    font-size: 18px;
}
.works h4 {
    color: #454545;
    padding-bottom: 15px;
    display: block;
}
a.greenlink {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-bottom: 3px;
    padding-right: 7.5px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.workslink {
    background-color: #f7f7f7;
    text-align: center;
}
.apps {
    display: block;
    background-color: #ebebeb;
}
.apps li {
    display: inline-block;
    vertical-align: middle;
    margin-top: 40px;
    margin-bottom: 40px;
}
/*test {
    background-image: url("Images/testimonialbackground.png");
    display: block;
}
.test img {
    border-radius: 50%;
}
.test em {
    color: #f7f7f7;
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    font-size: 18px;
    display: inline-block;
}
.test h5 {
    color: #f7f7f7;
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    font-size: 30px;
    display: inline-block
}
.test div {
    
    display: inline-block;
}
.test a {
    font-size: 18px;
    font-family: "DroidSerif";
    font-style: italic;
    text-decoration: none;
    color: #acd373;
    border: 1px solid #acd373;
    font-weight: normal;
    line-height: 40px;
    width; 141px;
    height: 40px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-left: 7.5px;
    padding-bottom: 3px;
    padding-right: 7.5px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.test p {
    font-family: "Droid Serif Regular";
    color: #dedada;    
}
.test h6 {
    font-family: "Source Sans Pro Bold";
    color: #acd373;
    font-style: bold;
}*/
.test {
    padding-top: 15px;
    padding-bottom: 109px;
    color: #f7f7f7;
    font-family: "Source Sans Pro"; 
    background: url("Images/testimonialbackground.png") no-repeat center center;
}
.test h5 {
    font-size: 30px; 
}
.test p {
    font-size: 18px;
    margin-top: 37px;
    line-height: 1.25em;
}
.test li {
    display: inline-block;
    width: 370px;
    vertical-align: top;
}
.test blockquote {
    background: url("Images/blockquotes.png") no-repeat top center;
    padding-top: 26px;
    padding-left: 13px;
    padding-right: 21px;
    height: 118px;
    line-height: 1.25em;
    margin-bottom: 17px;
}
.test .container > * {
    display: inline-block;
    vertical-align: top;
}
.test .container > div {
        width: 298px;
}
.test li img {
    border-radius: 50%;
    display: inline-block;
}
.test li div {
    display: inline-block;
    margin-left: 28px;
    vertical-align: top;
}
.test h6 {
    font-family: "Source Sans Pro";
    font-weight: bold;
    font-size: 18px;
    color: #acd373;
    padding-top: 27px;
    padding-bottom: 17px;
}
.test li a{
    font-family: "Droid Serif";
    font-style: italic;
    font-size: 18px;
    color: #f7f7f7;
    text-decoration: none;
}
.test ul {
    margin-left: 90px;
}
.test li:first-of-type {
    margin-right: 31px;
}
.dots {
    margin-top: -20px;
    display: block;
}
.blog {
    background-color: #f7f7f7;
    display: block;
    text-align: center;
}
.blog h3 {
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    font-size: 30px;
    color: #454545;
    margin-top: 113px;
    margin-bottom: 20px;
}
.blog h4 {
    margin-bottom: 20px;
}
.blog li {
    display: inline-block;
    background-color: #ebebeb;
    margin: 6px;
    width: 271px;
    height: 335px;
    vertical-align: top;
    margin-bottom: 100px;
}
.blog ul {
    display: inline-block;
}
.blog a {
    color: #f7f7f7;
    font-family: "Droid Serif Italic";
    font-style: italic;
    font-size: 14px;
    text-decoration: none;
    background-color: #acd373;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.blog div {
    position: relative;
}
.blogsep {
    margin-bottom: 60px;
}
.icon {
    background-color: #acd373;
    border-radius: 50%;
    border: 5px solid #ebebeb;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-top: -70px;
}
.icon img {
    margin-top: 9px;
}
.news {
    background-color: #acd373;
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    color: #f7f7f7; 
    text-align: center;
    display: block;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 18px;
}
.news form {
    display: inline-block;
    margin-left: 45px;
}
.map img {
    z-index: 1;
    margin:auto;
    padding-top: 192px;
    display: block;
}
.news input {
    background-color: #acd373;
    border: 1px solid #f7f7f7;
    height: 40px;
    width: 180px;
    font-family: "Droid Serif Italic";
    font-style: italic;
    text-align: center;
    font-size; 14px;
    color: #f7f7f7;
}
.contact h3 {
    margin-top: 95px;
    margin-bottom: 18px;
    background-color: #acd373;
}
.contact {
    display: block;
    background-color: #acd373;
}
.contact div {
    display: block;
    text-align: center;
}
.contact img {
    margin-bottom: 40px;
}
.contact label {
    display: inline-block;
    text-align: center;
}
.contact input {
    background-color: #acd373;
    display: block;
}
footer {
    font-color: #f7f7f7;
}
.footer {
    height: 100px;
    display: block;
    background-color: #9abd67;
    font-family: "Source Sans Pro Regular";
    font-style: normal;
    font-size: 18px;
}
.footer ul {
    display: inline-block;
}
.footer li {
    display: inline-block;
}
